.patient-card {
    width: min(100%, 1000px);
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 16px;
    text-align: left;
    background-color: #87a6e9;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.patient-card h3,
.patient-card p {
    margin: 5px 0;
}

.label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    padding: 5px 0;
}

.label input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}